#header_div{
    position:fixed;
    left: 0px;
    top: 0px;
    height:110px;
    width: 100%;
    background-color: #046380;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0,0,0,.6);
}
#header_div .central_div{
    color: #fff;
}
#title_div {
    font-size: 62px;
    
    margin: 0px;
    text-shadow: 0 2px 0 rgba(0,0,0,.15);
}
#subtitle_div{
    font-size: 28px;
    padding-left: 20px;
}